
.discover {
  padding: 0;
  margin-bottom: 218px;

  @include on950 {
    margin-bottom: 0;
  }

  @include on650 {
    margin-bottom: 255px;
  }

  @include on375 {
    margin-bottom: 253px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include on1300 {
      align-items: center;
    }

    @include on950 {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 846px;

    @include on1300 {
      max-width: 600px;
    }

    @include on1150 {
      max-width: 400px;
    }

    @include on950 {
      max-width: 100%;
      margin-bottom: 41px;
    }
    
  }

  &__title {
    font-family: 'League Spartan', sans-serif;
    font-size: 83.328px;
    font-weight: 600;
    line-height: 108%;
    margin-bottom: 20px;
    max-width: 800px;
    display: inline-block;
    font-style: normal;

    @include on1200 {
      font-size: 60px;
      margin-bottom: 10px;
    }

    @include on950 {
      font-size: 50px;
      text-align: center;
    }

    @include on480 {
      font-size: 42px;
      margin-bottom: 40px;
    }

    @include on375 {
      text-align: left;
      font-size:44px;
      margin-bottom: 25px;
      line-height: 125%;
    }
  }

  &__title br {
    display: none;

    @include on375 {
      display: block;
    }
  }

  &__title-colory {
    background: linear-gradient(272deg, #43A5E3 46.06%, #FF56F6 81.53%);
    background-clip: text;
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent
  }

  &__descr {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: #fff;
    line-height: 166%;
    margin-bottom: 43px;
    max-width: 657px;

    @include on1200 {
      font-size: 22px;
      margin-bottom: 20px;
    }

    @include on950 {
      font-size: 18px;
      text-align: center;
      max-width: 100%;
    }

    @include on480 {
      font-size: 14px;
    }

    @include on375 {
      margin-bottom: 31px;
    }
  }

  &__application {
    display: flex;
    gap: 38px;
    align-items: center;
    margin-bottom: 67px;

    @include on1200 {
      margin-bottom: 40px;
    }

    @include on950 {
      margin: 0 auto 40px;
      gap: 46px;
    }

    @include on480 {
      gap: 20px;
    }
  }

  &__link-button-box {
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    // border-image: linear-gradient(rgba(255, 86, 246, 1), rgba(185, 54, 238, 1), rgba(59, 172, 226, 1), rgba(64, 106, 255, 1), rgba(255, 166, 250, 1),
    //       rgba(60, 121, 212, 1)) 10;
    clip-path: polygon(16% 0%, 100% 0, 100% 70%, 80% 100%, 0 100%, 0% 26%);
    clip-path: polygon(16% 0%, 100% 0, 100% 24%, 100% 72%, 84% 100%, 0 100%, 0% 85%, 0 26%);
    clip-path: polygon(16% 0%, 100% 0, 100% 0%, 100% 72%, 84% 100%, 0 100%, 0% 100%, 0 26%);
    
    background: linear-gradient(270deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
    background: linear-gradient(92deg, #ffa6fa 47.49%, #3c79d5 98.81%);

    @include on480 {
      width: 135px;
    }
  }

  &__link-button {
  padding: 20px 10px 20px 46px;
  // width: 250px;

  width: 100%;
  // text-align: center;
  // padding: 19px;
  // clip-path: polygon(19% 0, 63% 0%, 100% 0, 101% 71%, 86% 100%, 0 99%, 0% 80%, 0% 20%);
  clip-path: polygon(16% 0%, 100% 0, 100% 70%, 80% 100%, 0 100%, 0% 26%);
  clip-path: polygon(16% 0%, 100% 0, 100% 24%, 100% 72%, 84% 100%, 0 100%, 0% 85%, 0 26%);
  position: relative;
  color: #fff;
  
    // border: 1.11px solid #FFA6FA;
    // filter: drop-shadow(0px 4.422px 107.23px rgba(255, 86, 246, 0.51));
    // backdrop-filter: blur(106.12408447265625px);
    // border-image: linear-gradient(rgba(255, 86, 246, 1), rgba(185, 54, 238, 1), rgba(59, 172, 226, 1), rgba(64, 106, 255, 1), rgba(255, 166, 250, 1), rgba(60, 121, 212, 1)) 10;
    font-size: 20px;
    background: linear-gradient(270deg, #ff56f6 21.43%, #b936ee 50.63%, #3bace2 100%, #406aff 117.04%);
    transition: all 300ms linear;
    font-weight: 700;
    position: relative;
    border-radius: 2px;

    &:hover {
      background: linear-gradient(360deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    }

    &--clip {
        display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          text-align: center;
      &::after {
        display: none;
      }
    }

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: -2;
    // background: linear-gradient(92deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    border-radius: 0px 5.527px 5.527px 0px;
    display: block;
  }

  @include on1599 {
    padding: 20px 10px;
  }

    @include on480 {
      padding: 9px 0 12px;
      font-size: 12px;
    }
  }

    &__link-button-img {
      width: 51px;

      @include on480 {
        width: 28px;
      }
    }

  &__link-text {
    font-size: 20px;
    background: linear-gradient(90deg, #42A6E3 2.33%, #FF56F6 101.4%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 700;

      @include on480 {
        font-size: 12px;
      }
  }

  &__hero {
    transform: translate(-94px, 10px);

    @include on624 {
      transform: translate(0);
      position: relative;
    }
  }

  &__hero-photo {
    // clip-path: polygon(20% 0, 100% 0, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 16%);
    @include on624 {
      max-width: 400px;
      margin: 0 auto;
      
    }

    @include on480 {
      max-width: 380px;
    }
  }

  &__hero-img {
    clip-path: polygon(24% 0%, 100% 0, 100% 90%, 85% 100%, 0 100%, 0% 15%);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
                0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  &__advantages-list-container {

    &--first {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background: rgba(255, 255, 255, 0.26);
        height: 100%;
        width: 1px;
        top: 0;
        right: -17px;
      }
    }

    &--second {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background: rgba(255, 255, 255, 0.26);
        height: 100%;
        width: 1px;
        top: 0;
        right: -17px;
      }
    }
  }

  &__advantages-list {
    display: flex;
    gap: 61px;
    align-items: center;

    @include on600 {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__advantages-list-number{
    font-family: 'Aldrich', sans-serif;
    font-size: 40px;
    // line-height: 150%

    @include on950 {
      font-size: 18px;
    }
  }

  &__advantages-list-text {
    font-family: 'Alethia-light', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.22px;

    @include on950 {
      font-size: 12px;
    }
  }

  &__hero-card-box {
    // background: linear-gradient(90deg, rgba(143, 141, 141, 0.1) -1.52%, rgba(156, 154, 154, 0.02) 104.35%);
    // background-color: rgba(255, 255, 255, 0.28);
    // background: linear-gradient(272.52deg, rgba(255, 166, 250, 0.3) 47.49%, rgba(60, 121, 213, 0.3) 98.81%);
    background-color: rgba(255, 255, 255, 0.28);
    background-clip: padding-box;
    // backdrop-filter: blur(30px);
    padding: 2px;
    transform: translate(157px, -112px);
    height: 184px;
    width: 342px;
    border-radius: 10px;
    clip-path: polygon(14% 0%, 100% 0, 100% 100%, 0 100%, 0 23%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include on624 {
      transform: translate(0);
      position: absolute;
      width: 100%;
      bottom: -132px;
    }
  }

  &__hero-card {
    // background: linear-gradient(90deg, rgba(31, 199, 39, 0.1) -1.52%, rgba(236, 4, 4, 0.02) 104.35%);
    background-color: rgba(34,15,65,0.4);
    position: absolute;
    z-index: 5;
    backdrop-filter: blur(30px);
    padding: 17px 19px 0 23px;
    height: 180px;
    width: 336px;
    border-radius: 10px;
    clip-path: polygon(14% 0%, 100% 0, 100% 100%, 0 100%, 0 23%);
    position: relative;

    // &::before {
    //   content:'';
    //   position: absolute;
    //   top:-2px;
    //   bottom:-2px;
    //   left:-2px;
    //   right:-2px;
    //   height: 180px;
    //   width:336px;
    //   background: linear-gradient(90deg, rgba(255, 255, 255, 0.10) -1.52%, rgba(255, 255, 255, 0.02) 104.35%);
    //   clip-path: polygon(14% 0%, 100% 0, 100% 100%, 0 100%, 0 23%);
    //   padding: 2px;
    //   border-radius: 10px;
    //   border: 2px solid rgba(255, 255, 255, 0.1);
    // }

    @include on624 {
      width: 100%;
    }
    
    @include on400 {
      padding-left: 38px;
      padding-right: 38px;
    }

    @include on375 {
      padding-left: 20px;
      padding-right: 20px;
    }

  }

  &__partners {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include on950 {
      display: none;
    }
  }

  &__partners-mobile {
    display: none;

    @include on950 {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      margin-bottom: 58px;
    }

    @include on680 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__partners-img {
    @include on950 {
      width: 143px;
      height: 28px;
    }
  }


}